@import '../../assets/utils';

#component-logon {
  background-image: url('../../assets/images/temp-background.png');
  background-size: cover;
  background-position: left top;
  height: 100vh;
  position: relative;
  @include flex-center;
  overflow: hidden;
}
