@import '../../assets/utils';

.button{
  @include uTransition(all);
  padding: 0;
  background: transparent;
  border-radius: 5px;

  a{
    padding-bottom: calc(0.375em - 1px);
    font-size: 1rem;
    text-decoration: none;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    color: #fefefe;
  }

  &.is-outlined:hover a{
    color: black;
  }
  &.is-inverted:hover {
    background:  #fefefe;
  }
}
