@import '../../assets/utils';

.top-lastimage {
  @include flex-center;
  flex-direction: column;
  .titlelastimage {
    padding-top: 1rem;
    font-size: 1.25rem;
    padding-bottom: 0.75rem;
    text-align: center;
  }
  .img {
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    padding-bottom: 1rem;
  }
}
.footer {
  padding-top: 1rem;
  position: absolute;
}
