@import '../../assets/utils';

#notfoundpage {

  overflow: -moz-hidden-unscrollable;

.dash-button {
    z-index:99;
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.notfounddesc {
  @include flex-center;
  flex-direction: column;
  padding-top: 16rem;
  font-size: 5rem;
}
}
